/* 全局样式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 聊天容器样式 */
#chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 聊天框样式 */
#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    /* 可以根据需要调整内边距 */
    word-wrap: break-word;
    /* 自动换行，防止溢出 */
}

/* 输入消息框样式 */
#input-message {
    height: 100px;
    resize: none;
    border: none;
    padding: 10px;
    font-size: 16px;
}

#input-message:disabled {
    background-color: #f0f0f0;
}

/* 用户列表样式 */
#users-list {
    font-size: 14px;
}

/* 调整容器宽度 */
.container-fluid {
    padding: 0;
    /* 移除容器的内边距 */
}

/* 调整顶部栏样式 */
#top-bar {
    padding: 10px;
    /* 可以根据需要调整内边距 */
}

/* 调整输入容器样式 */
#input-container {
    padding: 10px;
    /* 可以根据需要调整内边距 */
}

/* 等宽字体 */
.message-text {
    font-family: 'Courier New', Courier, monospace;
}

/* 强制模态框全屏显示在小屏设备上 */
@media (max-width: 576px) {
    .modal-dialog {
        margin: 0;
        max-width: 100%;
        height: 100%;
    }

    .modal-content {
        height: 100%;
    }

    .modal-body {
        overflow-y: auto;
    }
}

#chat-box p {
    white-space: pre-wrap; /* 保留空格和自动换行 */
}
